<!DOCTYPE html>
	<html>
		<head>
			
				<meta property="og:title" content="The Rock" />
				<meta property="og:type" content="video.movie" />
				<meta property="og:url" content="http://www.imdb.com/title/tt0117500/" />
				<meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
		
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:psaisambasiva@gmail.com">email</a></li>
	        		<li><a href="https://github.com/psaisambasiva">github.com/psaisambasiva</a></li>
				</ul>
			</footer>
		</body>
	</html>
